{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 150,
    "plugins": [
        "prettier-plugin-tailwindcss"
    ],
    "tailwindFunctions": [
        "clsx",
        "cn"
    ],
    "tabWidth": 4,
    "overrides": [
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "**/*.vue",
            "options": {
                "semi": false,
                "singleQuote": true,
                "tabWidth": 2,
                "trailingComma": "all",
                "singleAttributePerLine": true
            }
        },
        {
            "files": "**/*.ts",
            "options": {
                "semi": false,
                "singleQuote": true,
                "tabWidth": 2,
                "trailingComma": "all"
            }
        },
        {
            "files": "**/*.css",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
